#ListingPage {
    .list-page-filter {
        width: 95%;
        margin: 20px auto 0 ;
    }

    .list-page-table {
        width: 95%;
        overflow: hidden;
        margin: 20px auto 0;
    }
}