#HomePage {
  main& {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-image: url("/src/assets/hp-bg.jpg");

    #LoginSection {
      background-color: white;
      opacity: 1;

      @keyframes fadeIn {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }

      animation: fadeIn 1s ease-in-out;
    }
  }
}