#KeyGenPage {
    #key-gen-form {
        margin: 20px 14px 0;

        .key-gen-form-row {
            display: contents;

            .MuiInputBase-input {
                padding: 8px 4px;
            }

            .mandatory-key .Mui-disabled {
                text-align: center;

                color: black;
                -webkit-text-fill-color: black;
            }
        }
    }
}