#page-title {
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}


#navbar-container :not(#page-title) {
    z-index: 999;
}

#home-icon object {
    width: 7%;
    margin-right: 10px;
    pointer-events: none;
}